.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Aggiungi uno spazio tra le domande */
}

.form-check-input {
    margin-right: 10px; /* Aggiungi uno spazio tra la checkbox/radio e il testo */
    padding: 10px;
}

.form-check-label {
    margin-bottom: 0; /* Rimuovi margine inferiore dalle etichette per allinearli meglio */
}
